/* HEX COLOURS
#DFC7C1
#F4DCD6
#B2D9EA
#84B4C8
#619196
#FCF0CF
#F1CDB0
#ABABAB  <-- border
 */



body {
  background-color: antiquewhite;
}

.grid-wrapper {
  height: 90vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9%;
  width: 9%;
}



/* TETRIMINOS SHAPES */

shape i 
background-color: ##DFC7C1;
border: #ABABAB;

shape o
background-color: #F4DCD6;
border: #ABABAB;

shape t
background-color: #B2D9EA
border: #ABABAB;

shape s
background-color: #619196
border: #ABABAB;

shape z
background-color: #FCF0CF
border: #ABABAB;

shape j
background-color: #F1CDB0
border: #ABABAB;

shape l
background-color: #84B4C8
border: #ABABAB;