/* HEX COLOURS
#DFC7C1
#F4DCD6
#B2D9EA
#84B4C8
#619196
#FCF0CF
#F1CDB0
#ABABAB  <-- border
font-family: 'Rubik', sans-serif;
 */



body {
  background-color: #ABABAB;
  font-family: 'Rubik', sans-serif;
  text-align: center;
}

.grid-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 300px;
  width: 300px;
}

.grid div {
  border: 1px solid lightgrey;
  flex-grow: 1;
  height: 9%;
  width: 9%;
}




/* TETRIMINOS SHAPES  ******************************************/

.grid div.iTetromino {
  background-color: #DFC7C1;
  border: 1px #ABABAB;
} 

.grid div.oTetromino {
  background-color: #F4DCD6;
  border: 1px #ABABAB;
}

.grid div.tTetromino {
  background-color: #B2D9EA;
  border: 1px #ABABAB;
}

.grid div.sTetromino {
  background-color: #619196;
  border: 1px #ABABAB;
}

.grid div.zTetromino {
  background-color: #FCF0CF;
  border: 1px #ABABAB;
}

.grid div.jTetromino {
  background-color: #F1CDB0;
  border: 1px #ABABAB;
}

.grid div.lTetromino {
  background-color: #84B4C8;
  border: 1px #ABABAB;
}


/* To keep the fixed tetromino the same colour, leave this empty  */
.grid div.fixed-tetromino {    
  background-color: #619196
}



