/* HEX COLOURS
#DFC7C1
#F4DCD6
#B2D9EA
#84B4C8
#619196
#FCF0CF
#F1CDB0
#ABABAB  <-- border
#118F7D Fixed tetromino
font-family: 'Rubik', sans-serif;

#E0BE40
#9D2D84
#E040BC
#2D9D96
#40E0D0
#9D862D
#2D6D9D

 */
 * {
  box-sizing: border-box;
}

body {
  max-width: 873px;
  background-color: #ABABAB;
  font-family: 'Rubik', sans-serif;
  text-align: center;
  margin: auto;
}

.title {
  padding: 20px;
}

.grid-wrapper {
  height: 50vh;
  display: flex;
  justify-content: center;
  /* background-color: mediumorchid; */
}

.grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 300px;
  width: 300px;
  margin: 10px;
}

.grid div {
  border: 1px solid lightgrey;
  height: 30px;
  width: 30px; 
} 

.mini-grid-wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mini-grid {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  justify-content: center;
  height: 120px;
  width: 120px;
}

.mini-grid div {
  border: 1px solid lightgrey;
  height: 30px;
  width: 30px;
}

.content {
  /* background-color: indianred; */
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: large;
  text-shadow: 3px 2px 5px rgba(255,255,255,0.71)
}

.main-section {
  display: flex;
}

.scores {
  margin: 10px;
  flex-grow: 1;
  padding-top: 20%;
  /* border: #d9d9d9 solid 2px; */
}

.instructions-text {
  padding-top: 10%;
}


.instructions-and-mini-grid {
  flex-grow: 1;
  text-align: center;
  margin: 10px;
}

/* TETRIMINOS SHAPES  ******************************************/

.mini-grid div.iTetromino, .grid div.iTetromino {
  background-color: #E0BE40;
  background: radial-gradient(circle, rgba(233,203,90,1) 0%, rgba(221,174,0,1) 100%);

} 

.mini-grid div.oTetromino, .grid div.oTetromino {
  background-color: #9D2D84;
  background: radial-gradient(circle, rgba(157,45,132,1) 0%, rgba(133,5,104,1) 100%);
  /* border: 1px #ABABAB; */
}

.mini-grid div.tTetromino, .grid div.tTetromino {
  background-color: #E040BC;
  background: radial-gradient(circle, rgba(224,64,188,1) 0%, rgba(171,24,138,1) 100%);
  /* border: 1px #ABABAB; */
}

.mini-grid div.sTetromino, .grid div.sTetromino {
  background-color: #2D9D96;
  background: radial-gradient(circle, rgba(45,157,150,1) 0%, rgba(2,129,121,1) 100%);
  /* border: 1px #ABABAB; */
}

.mini-grid div.zTetromino, .grid div.zTetromino {
  background-color: #40E0D0;
  background: radial-gradient(circle, rgba(64,224,208,1) 0%, rgba(18,191,174,1) 100%);
  /* border: 1px #ABABAB; */
}

.mini-grid div.jTetromino, .grid div.jTetromino {
  background-color: #9D862D;
  background: radial-gradient(circle, rgba(157,134,45,1) 0%, rgba(117,96,14,1) 100%);
  /* border: 1px #ABABAB; */
}

.mini-grid div.lTetromino, .grid div.lTetromino {
  background-color: #2D6D9D;
  background: radial-gradient(circle, rgba(45,109,157,1) 0%, rgba(13,86,142,1) 100%);
  /* border: 1px #ABABAB; */
}


/* To keep the fixed tetromino the same colour, leave this empty  */
.grid div.fixed-tetromino {    
  background: rgb(218,165,32);
background: radial-gradient(circle, rgba(218,165,32,1) 0%, rgba(182,133,10,1) 100%);
}


